
{% extends 'base.html' %}



{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="{{ form.category.id_for_label }}" class="form-label">{{ form.category.label }} <span class="text-danger">*</span></label>
            {{ form.category }}
            {% if form.category.errors %}
                <div class="text-danger small mt-1">{{ form.category.errors }}</div>
            {% endif %}
            <div class="form-text">질문에 적합한 카테고리를 선택해주세요.</div>
        </div>
        <div class="mb-3">
            <label for="{{ form.subject.id_for_label }}" class="form-label">{{ form.subject.label }} <span class="text-danger">*</span></label>
            {{ form.subject }}
            {% if form.subject.errors %}
                <div class="text-danger small mt-1">{{ form.subject.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">{{ form.content.label }} <span class="text-danger">*</span></label>
            {{ form.content }}
            {% if form.content.errors %}
                <div class="text-danger small mt-1">{{ form.content.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
